{% extends 'layout.html' %}


{% block body %}

    <div class="card text-center">
        <div class="card-header">
           <h3> {{designacao}} </h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <b> Descrição: </b>
            </h5>
            <p class="card-text">
                {{conceito["desc"]}}
            </p>
            <h5 class="card-title">
                <b> Tradução EN: </b>
            </h5>
            <p>
                {{conceito["en"]}}
            </p>
        </div>
    </div>
    
    <a href="/conceitos" type="button" class=" mt-3 btn btn-primary">Voltar</a>
    <button class="btn btn-primary" onclick='delete_conceito({{designacao|tojson}})'> Apagar </button>
{% endblock %}